.form-send-tweet{
    background-color: #ffffff;
    border: 2px solid #00acee;
    padding: 20px;
    width: 600px;


    &__title{
        margin: 0px !important;
        color:black
    }

    &__form{
        .MuiFormControl-root{
            width: 100%;
        }
        &-name{
            width: 50% !important;
        }

        &-textarea{
            width: 100%;
        }
    }
}